
#skills{
  display: flex;
  margin: 55px 50px;
  background-color: #302e2e;
  padding: 50px;
  border-radius: 20px;
}

#skills a {
  text-decoration: none;
  color: white;
}
.container-subtitles{
  color: white;
}
.primary{
  margin: 55px 50px;
  padding: 30px 50px 0;
  color: white;
  font-size: 250%;
}

.secondary{
  width: max-content;
  margin: 50px 25px;
}
.container-skills{
  display: flex;
  justify-content: space-between;
}

.card-container{
  background-color: #403f3e;
  text-align: center;
  padding: 20px 80px;
  border-radius: 10px;
  margin: 0 20px;


}

.card-container:hover{
  box-shadow: rgba(214, 8, 8, 0.9) 0px 3px 8px;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  #skills{
    display: block;
  }
  .container-skills{
    flex-wrap: wrap;
  }
  .card-container{
    margin: 20px;
    width: 100px;
  }
}