
.footer{
  background-color: black;
  padding: 30px 100px;
  margin: 150px 0 0 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-image img{
  width: 200px;
  border-radius: 20px;
}



.icon{
  font-size: 40px;
  margin: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .container-image img{
    width: 100px; 
  }
}