body{

  background-color: #252525;
}
a{
  text-decoration: none;
}
.header{
  background-image: url(/images/cool-background.png);
  color: white;
  height: 85vh;

}

.container-main-title{
  position: relative;
  padding: 100px;
}

.main-title{
  font-size: 450%;
  font-family: 'Roboto slab';
  font-weight: lighter;
}


@media screen and (max-width: 768px) {
  .header{
    height: 60vh;
  }
  .main-title{
    font-size: 280%;
  }
  .container-main-title{
    top: 0;
    left: 0;
    padding: 50px;
  }
  
}

