body{
  background: #18191a;
}
.container-card{
  align-items: center;
  background-color: #061d2a;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 55px 50px;
  padding: 30px;
  color: white;
}

.subtitle{
  font-size: 200%;
  margin: 10px;
}

.card-description{
  position: relative;
  display: flex;
}

.card-image{
  display: block;
  width: 200px;
  margin: 10px ;
  border-radius: 15px;
}

.card-info{
  margin-top: 50px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .container-card{
    /* margin: 80px; */
    margin: 20px;
    padding: 30px;
  }
  .card-info{
    margin-top: 0;
    text-align: left;
  }
  .card-description{
    flex-wrap: wrap;
    justify-content: center;
  }
}


