.container-projects{
  margin: 55px 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  
}
#projects a {
  color: white;
}


.container-project{
  width: 400px;
  background-color: #403f3e;
  padding: 20px;
  border-radius: 20px;
  height: max-content;
}

.container-project:hover{
  translate: 0 -30px;
  transition: 0.3s;
  box-shadow: rgba(8, 1, 51, 0.3) 0px 19px 38px, rgba(4, 3, 78, 0.22) 0px 15px 12px;
}

.project-image{
  width: 400px;
  border-radius: 10px;
}

.project-name, .project-image{
  margin-bottom: 16px;
}
.tools-used, .description-project{
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .container-projects{
    flex-wrap: wrap;
  }
  .container-project{
    flex: auto;
    margin-bottom: 40px;
  }
  .container-project:hover{
    translate: 0 0;
  }
  .project{
    display: flex;
    flex-wrap: wrap;
  }
  .container-project-info{
    margin: 20px;
  }
}
@media (max-width: 768px) {
  .container-projects{
    flex-wrap: wrap;
    margin: 0px;
  }
  #projects{
    margin: 10px;
  }
  .project-image{
    width: 300px;
  }
  .container-project{
    flex: auto;
    margin-bottom: 40px;
  }
  .container-project:hover{
    translate: 0 0;
  }
  .project{
    display: flex;
    flex-wrap: wrap;
  }
  .container-project-info{
    margin: 20px;
  }

}
@media screen and (max-width: 576px) {
  .container-project-info{
    margin: 10px 0;
  }
}