
.skills{
  margin: 55px 100px;
  background-color: #302e2e;
  padding: 50px;
  border-radius: 20px;
}

.skills a {
  text-decoration: none;
  color: white;
}
.skills-info{
  /* display: flex; */
  margin-bottom: 50px;
}
.primary{
  margin: 55px 50px;
  padding: 30px 100px 0;
  color: white;
  font-size: 280%;
  font-family: 'Roboto slab';
  font-weight: lighter;
}

.container-subtitle{
  color: white;
}
.secondary{
  width: max-content;
}

.container-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container{
  background-color: #403f3e;
  text-align: center;
  padding: 20px 80px;
  border-radius: 10px;
  margin: 10px 20px;
  width: max-content;
}

.card-container:hover{
  box-shadow: rgba(214, 8, 8, 0.9) 0px 3px 8px;
  transition: 0.3s;
}

.card-icon{
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 768px) {
  #skills{
    display: block;
    margin: 10px;
    padding: 10px;
  }
  .primary{
    margin: 20px;
    padding: 10px;
  }
  .container-skills{
    overflow-x: auto;
  }
  .card-container{
    margin: 20px;
    flex: 1 0 200px;
    
  }
}